<!-- home -->
{% extends "base_template.html" %}
{% load static %}
{% block content %}
<div class="flex flex-col justify-center items-center text-center h-screen w-screen space-y-5">
    <img src="{% static 'images/chaos.svg' %}" alt="Chaos" width="20%" height="20%">
    <div class="flex flex-col space-y-12">
        <h1 class="text-xl font-bold">Music Streaming</h1>
        <p class="max-w-80">Music Streaming is a free full-stack web application that allows users to upload and stream their media collections.</p>
        <p class="max-w-80">Built with Django, DRF, ReactJS, + more!</p>
    </div>
    <div class="flex justify-center space-x-12">
        <button class="font-bold py-1 px-2 rounded bg-gray-700 text-white" type="button" id="loginButton">Login</button>
        <button class="font-bold py-1 px-2 rounded bg-gray-700 text-white" type="button" id="signupButton">Sign Up</button>
    </div>
</div>
<script>
    document.getElementById('loginButton').addEventListener('click', function() { 
        window.location.href = "{% url 'login' %}";
    });
    document.getElementById('signupButton').addEventListener('click', function() {
        window.location.href = "{% url 'signup' %}";
    });
</script>
{% endblock %}