<!-- login -->
{% extends "base_template.html" %}
{% load static %}
{% block content %}
<div class="flex justify-center align-center items-center mt-20">
  <form method="post" class="flex flex-col p-4 border-black border-2 rounded-lg bg-gray-100 space-y-4">
    {% csrf_token %}
    <h1 class="text-xl text-center font-bold">Login</h1>
    <div class="flex flex-col space-y-4 items-center">
      {{ form.as_p }}
    </div>
    <button type="submit" class="font-bold py-1 px-2 rounded bg-gray-700 text-white">Confirm Login</button>
  </form>
</div>
{% endblock %}